.DS_Store
node_modules
dist
package-lock.json
yarn.lock
yarn-error.log
.vscode
backend/core/yarn.locke
backend/core/main
backend/core/main.exe
backend/core/go.sum
backend/core/go.mod
backend/core/mockdb
database/~*.xlsx
web/node_modules
web/yarn.lock
web/yarn-error.log
backend/core/pt
backend/core/doc
backend/core/build
backend/core/saved_log
backend/core/*.log
web/src/pt
www


# Miscellaneous
mobile/*.class
mobile/*.log
mobile/*.pyc
mobile/*.swp
mobile/.DS_Store
mobile/.atom/
mobile/.buildlog/
mobile/.history
mobile/.svn/

mobile2/*.class
mobile2/*.log
mobile2/*.pyc
mobile2/*.swp
mobile2/.DS_Store
mobile2/.atom/
mobile2/.buildlog/
mobile2/.history
mobile2/.svn/

# IntelliJ related
mobile/*.iml
mobile/*.ipr
mobile/*.iws
mobile/.idea/

mobile2/*.iml
mobile2/*.ipr
mobile2/*.iws
mobile2/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
mobile/**/doc/api/
mobile/**/ios/Flutter/.last_build_id
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/.pub-cache/
mobile/.pub/
mobile/build/

mobile2/**/doc/api/
mobile2/**/ios/Flutter/.last_build_id
mobile2/.dart_tool/
mobile2/.flutter-plugins
mobile2/.flutter-plugins-dependencies
mobile2/.packages
mobile2/.pub-cache/
mobile2/.pub/
mobile2/build/
# Web related
mobile/lib/generated_plugin_registrant.dart
mobile2/lib/generated_plugin_registrant.dart

# Symbolication related
mobile/app.*.symbols
mobile2/app.*.symbols
# Obfuscation related
mobile/app.*.map.json
mobile2/app.*.map.json
# Exceptions to above rules.
mobile/!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
mobile2/!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages

mobile/pubspec.lock
mobile/.metadata
mobile/.packages
mobile/lib/pt

mobile2/pubspec.lock
mobile2/.metadata
mobile2/.packages
mobile2/lib/pt
backend/core/workspace.code-workspace
mobile2/ios/Podfile.lock
mobile2/ios/build/