.closeable-list {
  position: relative;
  width: 100%;
  //background: var(--bg-primary);
  background: transparent;
  border-radius: $default-border-radius;
  .close-all {
    position: absolute;
    top: 8px;
    right: 0px;
    padding: 2px 4px;
    transform: translate(0%, -50%);
    border-radius: 10px;
    font-size: 1.5rem;
    &:hover {
      color: var(--link-color);
      cursor: pointer;
    }
  }
  &__content {
    padding: 25px $default-padding $default-padding $default-padding;
    border: $default-border;
    border-radius: $default-border-radius;
    display: flex;
    min-height: 67px;
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;

      align-content: flex-end;
    }

    ul li {
      border-radius: $default-border-radius;
      border: $default-border;
      margin: 1px $default-padding;
      background-color: var(--bg-form);
      padding: 12px 15px 2px 6px;
      color: var(--primary);
      display: block;
      position: relative;
      max-width: 320px;
      min-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
      div {
        max-width: 320px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      a {
        color: var(--link-color);
      }
    }

    .close {
      cursor: pointer;
      position: absolute;
      top: 8px;
      right: 0px;
      padding: 2px 4px;
      transform: translate(0%, -50%);
      border-radius: 10px;
    }
  }

  &__controller {
    position: absolute;
    left: 5px;
    top: 4px;
  }
}


.closeable-list__hover {
  .closeable-list__content {
    ul li:hover {
      border-color: var(--hover-border-color);
    }

    .close:hover {
      color: var(--link-color);
    }
  }

  .closeable-list__controller {
    &:hover {
      color: var(--link-color);
    }
  }
}

.closeable-list__floating-controller {
  .closeable-list__content {
    padding-top: $default-padding;
  }
}

.closeable-list-auto-height {
  .closeable-list__content {
    min-height: 0;
  }
}