.image-viewer {
  width: 100%;
  height: 100%;
  position: relative;
  border: $default-border;
  .image {
    width: 100%;
    height: 100%;
    display: block;
    background: url('img/no-image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .overlap {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.9;
    background: gray;
    justify-content: center;
    align-items: center;
  }
}

.no-background {
  .image {
    background: none;
  }

}

.image-hover:hover .overlap {
  display: flex;
}